{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <div class="row" id="login">
        <div class="col-md-6 mx-auto my-5">
            <form method="post">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% if app.user %}
                    <div class="mb-3">
                        Vous êtes connecté en tant que {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                    </div>
                {% endif %}

                <div class="wrapper">
                    <div class="logo"> <img src="images/logo.jpg" alt=""> </div>
                    <div class="text-center mt-4 name"> Voyage privé </div>
                    <form class="p-3 mt-3">
                        <div class="form-field d-flex align-items-center"> <span class="far fa-user"></span> <input type="text" name="userName" id="userName" placeholder="adresse mail"> </div>
                        <div class="form-field d-flex align-items-center"> <span class="fas fa-key"></span> <input type="password" name="password" id="pwd" placeholder="Mot de passe"> </div> 
                        <button class="btn mt-3">Connexion</button>
                    </form>
                    <div class="text-center fs-6"> <a href="#">Mot de passe oublié?</a> ou <a href="{{ path('register')}}">S'inscrire</a> </div>
                 </div>
            </form>
        </div>
    </div>

{% endblock %}
