{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <form action="{{ path('resetToken') }}" method="post" class="p-5 mt-5">
        <div class="form-group">
            <h3 class="mb-4 text-center text-white">Réintialisation du mot de passe</h3>
            <label for="exampleInputPassword1" class="mb-2">Adresse mail</label>
            <input type="email" placeholder="Saisissez l'adresse mail de récupération" name="email" class="form-control" id="exampleInputPassword1">
        </div>
        <button type="submit" class="btn btn-primary mt-2 d-block mx-auto col-4">Envoyer</button>
    </form>
</div>
{% endblock %}