{% extends 'base.html.twig' %}

{% block title %} Administration {% endblock %}

{% block body %}
<main id="main">
  <div class="mt-5">
    <h1 class="text-muted text-center py-5">Mon tableau de board</h1>
    <hr>
    <div class="mt-4" id="backOffice">
        <div class="card m-5 bg-warning"><a href="{{path("membre")}}">Gestion des membres</a></div>
        <div class="card m-5 bg-warning"><a href="{{path("voyage")}}">Gestion des voyages</a></div>
        <div class="card m-5 bg-warning"><a href="{{path("commande")}}">Gestion des commandes</a></div>
        <div class="card m-5 bg-warning"><a href="">Gestion des avis</a></div>
    </div>
  </div>
</main>
{% endblock %}
